<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vision45.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3148B51B5D3E065276EAE81BDEAB7C54411D99E0</string>
				<key>dateExpires</key>
				<string>11/11/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2CZ4FPMB3V.com.dev.Vision45</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2CZ4FPMB3V</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2CZ4FPMB3V.com.dev.Vision45</string>
				</array>
			</dict>
			<key>name</key>
			<string>Vision45.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f80d4e40-9389-4f0e-a5a1-b775d7a65cc3</string>
				<key>name</key>
				<string>iAppsDeveloperWildcardAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2CZ4FPMB3V</string>
				<key>name</key>
				<string>Cyntia Sydiongco</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
